{% extends "base.html" %}

{% block Title%}
	{{judul}}
{% endblock Title%}

{% block pageTitle%}
	{{judul}}
{% endblock pageTitle%}

{% block Content%}
	{{content}}
	<br>
	

	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vestibulum enim eros, in semper libero posuere at. Vivamus rutrum malesuada sodales. Quisque rhoncus, nulla non venenatis finibus, urna nunc dictum metus, id eleifend ligula arcu eu orci. Praesent elementum bibendum lacus sit amet commodo. Maecenas eget sem malesuada, rhoncus nulla ac, pulvinar metus. Vestibulum a massa scelerisque, iaculis sapien et, commodo augue. Praesent consequat felis sodales, commodo risus eget, molestie tellus. In condimentum rhoncus dui eu rhoncus. Quisque eget leo ut arcu blandit accumsan quis et orci. Maecenas blandit, libero id ornare laoreet, leo augue maximus nibh, at maximus dui odio sit amet risus. Etiam a consequat tellus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Phasellus non gravida leo. Vivamus ut porta ipsum, nec fringilla ipsum.

	Proin semper maximus purus, id bibendum risus fermentum pellentesque. Donec id lorem aliquet, viverra nunc quis, imperdiet erat. Maecenas at sapien mi. Praesent vel cursus augue. Suspendisse viverra pharetra odio ut placerat. Proin luctus orci vel pellentesque luctus. Maecenas mattis vestibulum lorem commodo pulvinar. Phasellus venenatis egestas diam sed imperdiet. Donec consectetur dictum urna vel tincidunt. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam erat volutpat. Cras elementum dapibus fermentum. Etiam a mauris diam. Etiam rhoncus diam in semper dictum. Lorem ipsum dolor sit amet, consectetur adipiscing elit.

	Praesent eleifend commodo nisi, eu ultricies nunc efficitur sit amet. Nunc vel commodo nibh, a blandit tellus. Sed eget augue ut ex suscipit rhoncus. Proin elementum elementum lorem. In quis laoreet justo. Aliquam sit amet turpis nisi. Sed vehicula rutrum finibus. Praesent lobortis orci id mauris molestie dignissim. Praesent sagittis nibh elit, non mollis sem dignissim nec. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam gravida leo ligula, ut elementum velit ultrices nec. In ut ullamcorper velit. Donec justo nulla, iaculis a nisi nec, interdum faucibus arcu. Ut id dolor nulla. Nunc eu massa pellentesque sem facilisis pellentesque ac at tortor.

	Integer at finibus nisl. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris metus metus, laoreet eget tortor eget, molestie condimentum purus. Maecenas purus tellus, tincidunt at congue vitae, tempor sed erat. Aliquam eu augue nisl. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris porta, magna vel pulvinar vehicula, libero elit molestie eros, aliquam tincidunt ex metus pretium nulla. Nulla enim velit, volutpat nec tellus et, facilisis aliquet ex. Etiam suscipit quam eu nunc commodo, non fringilla libero lacinia. Fusce accumsan elit in tempus convallis. Suspendisse mattis erat eu iaculis dictum. Aliquam eleifend massa euismod urna interdum pulvinar quis vitae sem. Nam lobortis enim vitae lectus mollis, et scelerisque ligula luctus.

	Morbi eleifend lacus sit amet porttitor gravida. Vestibulum tortor nisi, elementum nec mi nec, ultrices rutrum mauris. Sed non dignissim ipsum. Suspendisse porta lacus odio. Quisque ornare lacinia orci sit amet tincidunt. Vivamus et velit faucibus, egestas mi in, faucibus augue. Quisque vitae sapien viverra, semper ante quis, aliquam ante. In facilisis dui id enim porta tincidunt. Pellentesque congue varius luctus. 
{% endblock Content%}